.app{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputTypeFile{
  display: none;
  color: transparent
}
.inputTypeFile::-webkit-file-upload-button{
  display: none; 
}